/**** Variables ****/
:root {
  --mainColor: #505557;
  --secondaryColor: #2d3031;
  --bkgdColor: rgba(0, 0, 0, 0.84);
  --borderMain: #4f98a1;
  --textMain: rgb(216, 216, 216);
  --textSecondary: #c9f5fb;
  --shadow: #0a0f14;
  --shadowBright: #00eeff;
  --bkgd: url('../img/background.jpg');
}
/**********************************************************************************/

/* Text formatting */
h1, h2, h3, h4, h5, h6, strong {
  color: var(--textMain);
  font-family: 'Ubuntu', 'mono';
  margin: 2rem;
}

html {font-size: 62.5%;}
h1 {font-size: 8rem;}
h2 {font-size: 7rem;}
h3 {font-size: 6rem;}
h4 {font-size: 5rem;}
h5 {font-size: 4rem;}
h6 {font-size: 3rem;}
p, a, li, button, label, input, textarea, strong {
  font-size: 2.2rem;
  color: var(--textMain);
  font-family: 'Ubuntu', 'mono';
  line-height: 1.5;
  text-decoration: none;
  margin: 0;
  outline: none;
}
code {font-size: 2.2rem;
      padding: 0 1rem;}
ul {list-style: disc;}

/**********************************************************************************/

/**** Background and General Styling ****/

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bkgdColor);
  background-image: var(--bkgd);
  background-attachment: fixed;
  background-size: cover;
}

body * {transition: 0.3s;}

.opaque-bkgd {
  background-color: var(--bkgdColor);
  opacity: 1;
  /* 0.99; */
  background-attachment: local;
  overflow: hidden;
  z-index: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  height: auto;
  justify-content: center;
}

p.copyright {
  width: 100%;
  color: var(--textSecondary);
  line-height: 40px;
  font-size: 1.6rem;
  text-align: center;
  bottom: 0;
}

/**********************************************************************************/

/**** Main Section Styles ****/
.box-main {
  width: 42%;
  margin: 2rem auto;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 1;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 0 solid var(--borderMain);
}

.box-main p {
  max-width: 80%;
  min-width: 80%;
  text-align: center;
  margin: 0.4rem auto;

}

.box-main a {
  font-size: 2rem;
  color: #23cce6;  
  padding: 0 0.5rem;
}

/* 
.box-alt {
  max-width: 60%;
  min-width: 60%; 
  width: 60%;
  margin: 2rem auto;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 1;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 0 solid var(--borderMain);
}
*/

.box-last {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

#bottom-line {
  height: 5.75rem;
  width: 100%;
  border: 2.5px solid var(--bkgdColor);
  margin: 0;
  padding: 0;
}

/**********************************************************************************/

/**** Animations ****/

@-webkit-keyframes hue { 
  0%,100% {-webkit-filter: hue-rotate(0deg);}
  50% {-webkit-filter: hue-rotate(270deg);}
}

@keyframes hue {
  0%,100% {filter: hue-rotate(0deg);}
  50% {filter: hue-rotate(270deg);}
}

@keyframes phue {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(60deg);}
}

/**********************************************************************************/

/******* Screen formatting *******/

/**** Desktop Styles ****/

@media screen and (max-width: 2250px) {
  html {
    font-size: 75%;
  }
  .box-main, .box-last {
    width: 70%;
  }

  .box-main p {
    font-size: 2rem;
    min-width: 45%;
  }
}

@media screen and (max-width: 2000px) {
  html {
    font-size: 60%;
  }
  .box-main, .box-last {
    width: 70%;
  }

  .box-main p {
    font-size: 2rem;
    width: 45%;
  }
}

/**** Tablet Styles */

/* start of medium tablet styles */
@media screen and (max-width: 767px) {
  html {font-size: 50%;}
  p {font-size: 2.5rem;}
  .box-main, .box-last {
    width: 95%;
    max-width: 90%;
    min-width: 90%;
  }
}

/**** Phone Styles ****/
 
@media screen and (max-width: 479px) {
  html {font-size: 30%;}
  p {font-size: 3rem;}
}

/**********************************************************************************/