/* Variables */
:root {
  --mainColor: #1c1d1c;
  --secondaryColor: rgb(57, 55, 61);
  --borderColor: #4f98a1;
  --mainText: rgb(216, 216, 216);
  --secondaryText: #fc76e5;
  --shadow: #16212e;
  --bkgd: url("../images/bkgd2.jpg");
}

/* Text formatting */
h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: "Ubuntu", sans-serif;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}
p {font-size: larger;}
li {font-size: larger;}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: disc;
}

p, li, span, label, input, textarea {
  color: var(--mainText);
  font-family: "Ubuntu", sans-serif;
}

/* General styling */
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-image: var(--bkgd);
  background-attachment: fixed;
  background-size: cover;
}

main {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.opaque-bkgd {
  background-color: rgba(0, 0, 0, 0.84);
  opacity: 0.95;
}

.s1 {
  background-color: var(--mainColor);
  opacity: 0.95;
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  width: 1500px;
  margin: 0 auto;
}

.s2 {
  background-color: var(--secondaryColor);
  opacity: 0.8;
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  width: 1500px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 5em;
}

.intro img {
  width: 500px;
  max-height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.title-bar {
  width: 1480px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav-bar;

  border: 1.2px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  background-color: var(--secondaryColor);
}

.box-main {
  width: 1500px;
  margin: 0 auto;
  opacity: 0.8;
  background-color: var(--secondaryColor);

  box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);

  display: flex;
  flex-direction: column;
}



.box-split {
  width: 1500px;
  margin: 0 auto;
  opacity: 0.8;
  background-color: var(--secondaryColor);

  box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: -6px 15px 22px 15px rgba(0, 0, 0, 0.84);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 35em;
  grid-template-areas:
    "nav-bar nav-bar"
    "left-column right-column";
}

.dots-wrapper {
  display: flex;
  padding: 15px;
  margin: 15px;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.browser-dot {
  background-color: black;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 5px;

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.browser-dot:hover {
  cursor: pointer;
}

.left-column {
  grid-area: left-column;
  border-left: 1px solid var(--borderColor);
}

.left-column img {
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 20%;
}

.right-column {
  grid-area: right-column;
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 1px solid var(--borderColor);
}

#shadow {
  background-color: var(--shadow);
  max-width: 320px;
  height: 180px;
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
}

#blurb {
  width: 300px;
  border: 1.5px solid var(--borderColor);
  background-color: var(--previewBg);
  padding: 15px;
  
}

/* Screen formatting */
@media screen and (max-width: 1440px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-bar"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
