/**** Nav-bar ****/
.navbar {
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--mainColor);
}

#logo {
  padding: 0 0 0 1rem;
  height: 100%;
}

.nav-wrapper {
  vertical-align: center;
  text-decoration: none;
}

.nav-wrapper a {
  margin: 0 2rem !important;
  font-size: 2.5rem !important;
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
  /* padding: 0.5rem 1rem !important; */
  justify-content: space-between;
  vertical-align: center;
  text-decoration: none;
}

/**** Socials bar ****/
.socials-bar {
  z-index: 9;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 5.7rem;

  display: flex;
  justify-content:center;
  background-color: var(--mainColor);
  opacity: 1;
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: auto;
  /* align-items: center; */
  width: 40%;
}

.socials {
  transition: transform 0.3s;
}

.socials:hover {
  transform: scale(1.2);
  -webkit-animation: hue 3s linear infinite;
  animation: hue 3s linear infinite;
}

.socials a {
  padding: 1rem;
}

.socials img {
  height: 4rem;
  width: auto;
  margin: 1rem 1rem;
}
/**********************************************************************************/

/**** Landing view ****/
.intro {
    height: 100vh;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

.intro a {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  color: var(--textMain);
  text-decoration: underline;
}

#blurb {
  max-width: 90%;
  /* max-height: 10%; */
  padding: 0%;
  margin: 0%;
  text-align: center;
  vertical-align: center;
  /* position: absolute; */
  /* bottom: 40vh; */
}

.continue {
  position: absolute;
  bottom: 10vh;
}
.continue img {
  height: 12rem;
}
.continue:hover {
  -webkit-animation: hue 3s linear infinite;
  animation: hue 3s linear infinite;
}

/**********************************************************************************/

/**** Skills section ****/
.skill-section {  
    max-width: 65%;
    flex-wrap: wrap;
    flex-shrink: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;  
    vertical-align: auto;
}
  
.skill {
  width: 22%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-items: center;
  text-align: center;
  font-size: 3%;
}

.skill img {
  width: 60%;
  height: auto;
  opacity: 1;
  margin: 1rem auto;
}
/**********************************************************************************/

/**** Past Projects ****/
.project-wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

.project {
  align-items: center;
  justify-items: center;
  height: 35%;
  width: 60%;

  margin: 1.2rem;
  transition: 0.3s;
}

.project:hover {
  -webkit-animation: phue 0.3s linear infinite;
  animation: phue 0.3s linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.project button{
  justify-content: center;
  text-align: center;
  border-radius: 5%;
  background-image: linear-gradient(
    0deg,
  rgba(0,0,0,1) 2%,
  rgba(41,4,95,1) 61%, 
  rgba(66,6,154,1) 85%, 
  rgba(66,6,154,1) 100%);
}

#project-blurb-wrapper{
  padding: 2rem;
  max-width: 75%;
  text-align: center;
}

/**********************************************************************************/

/**** Contact ****/
#contact p{
  text-align: center;
  font-size: 2.5rem;
  /* margin: 4rem; */
}

.message-me {
  margin-top: 2rem;
  width: 60%;
  color:rgba(0, 0, 0, 0.84)
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 100%;
}

.form-box {
  width: 100%; 
  background-color: var(--secondaryColor);
  color: var(--textMain);
}
.form-box::placeholder {
  color: var(--textSecondary);
}
.form-box:-ms-input-placeholder { /* IE 10+ */
  color: var(--textSecondary);
}
.form-box::-ms-input-placeholder { /* Edge */
  color: var(--textSecondary);
} 

/* hides labels needed for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (max-width: 500px) {
  /* start of medium tablet styles */
    .skill-section { 
      justify-content: center; 
      flex-direction: column; 
      flex-wrap: nowrap;
    }
    .skill { 
      flex-direction: row; 
      align-items: center;
    }
  }