/* Variables */
:root {
  --mainColor: #1c1d1c;
  --secondaryColor: rgb(57, 55, 61);
  --borderMain: #4f98a1;
  --textMain: rgb(216, 216, 216);
  --textSecondary: #fc76e5;
  --shadow: #0a0f14;
  --shadowBright: #00eeff;
  --bkgd: url("../images/bkgd.jpg");
}

/* Text formatting */
h1, h2, h3, h4, h5, h6, strong {
  color: var(--textMain);
  font-family: "Ubuntu", "mono";
  margin: 2rem;
}

html{font-size: 62.5%;}
h1 {font-size: 8rem;}
h2 {font-size: 7rem;}
h3 {font-size: 6rem;}
h4 {font-size: 5rem;}
h5 {font-size: 4rem;}
h6 {font-size: 3rem;}
p, li {font-size: 2rem;}
code{
  font-size: 2rem;
  padding: 0 1rem;
}


a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: disc;
}

p, li, span, label, input, textarea {
  color: var(--textMain);
  font-family: "Ubuntu", "mono";
}

/* General styling */
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-image: var(--bkgd);
  background-attachment: fixed;
  background-size: cover;
}

.opaque-bkgd {
  background-color: rgba(0, 0, 0, 0.84);
  opacity: 0.99;
  background-attachment: local;
  overflow:hidden;
  z-index:-1; 
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

/* Nav-bar */
.navbar{
  position: fixed;
  top: 2rem;
  width: 100%;
  height: 6rem;
  padding: 0 ;
  z-index: 990;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42069a;
  opacity: 1;
}

.navlinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navlinks img{
  height: 5rem;
  padding: 15px;
}

/* Main content */
.title-bar {
  width: 49%;
  height: 3rem;
  margin-top: 25vh;
  padding: 0.5%;
  opacity: 0.9;


  display: flex;
  justify-content: center;
  align-items: center;

  border: 1.5px solid var(--borderMain);
  border-radius: 5px 5px 0 0;
  background-color: var(--secondaryColor);
}

.box-main {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  opacity: 0.9;
  background-color: var(--secondaryColor);
  border-radius: 5px 5px 0 0;
  border: 1.5px solid var(--borderMain);
}

.box-main p{
  width: 80%;
}

/*~~~~~~~~~~~ Screen formatting ~~~~~~~~~~~~~*/

/* Desktop Styles */
@media screen and (max-width: 1440px) {  
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */
}
  
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
  html { font-size: 50%; }
}
  
@media screen and (max-width: 479px) {
/* start of phone styles */
  html { font-size: 40%; }
}