@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/** =========
  Typography
============= */

/** Font Families */
$sans: "Roboto";
$mono: "Courier Prime", monospace;
// $sans: "GeistVF", sans-serif;
// $mono: "GeistVFMono", monospace;

/** Font Sizes */
$fs-tiny: 0.8rem;
$fs-small: 0.9rem;
$fs-medium: 1rem;
$fs-large: 1.2rem;
$fs-xl: 1.5rem;
$fs-2xl: 4rem;
$fs-3xl: 8rem;
$clamped: clamp($fs-small, 4vw - 0.8rem, $fs-xl);

/** Font Weights */
$light: 100;
$normal: 300;
$bold: 500;

/** Line spacing */
$spacing: 1.5;

/** ============
  Color palette
================ */

/* Theme Colors */
$primary: oklch(0.5 0.2 280);
$primary-dark: oklch(from $primary calc(l - 0.1) c h);
$primary-light: oklch(from $primary calc(l + 0.1) c h);
$secondary: oklch(0.6 0.104 185);
$secondary-dark: oklch(from $secondary calc(l - 0.1) c h);
$secondary-light: oklch(from $secondary calc(l + 0.1) c h);
$tertiary: oklch(0.861 0.173 92);
$tertiary-dark: oklch(from $tertiary calc(l - 0.1) c h);
$tertiary-light: oklch(from $tertiary calc(l + 0.1) c h);
$desaturated1: oklch(from $primary l calc(c - 0.15) h);
$desaturated2: oklch(from $primary calc(l + 0.2) calc(c - 0.15) calc(h));

/* Neutrals */
$white: oklch(1 0 0);
$off-white: oklch(0.98 0 0);
$light-grey: oklch(0.94 0 0);
$grey: oklch(0.67 0 0);
$dark-grey: oklch(0.57 0 0);
$off-black: oklch(0.37 0 0);
$black: oklch(0 0 0);

/* Misc */
$success: oklch(0.75 0.18 150);
$error: oklch(0.661 0.225 17);
$highlight-bg: oklch(0.398 0.177 277);

/** ==============
  Global settings
================== */

/** Width of main content column on page */
$section: 900px; // 800px;
$section-big: 1400px; // 1200px;

/** Effects */
$rounded: 5px;
$outline: 0 0 0 3px $tertiary-light;
$shadow: 1px 2px 8px oklch(0.05 0 0 / 0.7);

/** Gradient fade size */
$fade: 15px;

/** Transitions */
$fast: 0.35s ease;
$slow: 1s ease;

/** Media queries */
$tablet: 900px;
$phone: 600px;
