/** =========
  Typography
============= */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/** Font Families */
$sans: "Roboto";
$mono: "Courier Prime", monospace;

/** Font Sizes */
$fs-tiny: 0.8rem;
$fs-small: 0.9rem;
$fs-medium: 1rem;
$fs-large: 1.2rem;
$fs-xl: 1.5rem;
$fs-2xl: 4rem;
$fs-3xl: 8rem;
$clamped: clamp($fs-small, 4vw - 0.8rem, $fs-xl);

/** Font Weights */
$light: 100;
$normal: 300;
$bold: 500;

/** Line spacing */
$spacing: 1.5;

/** ============
  Color palette
================ */

/* Neutrals */
$white: oklch(0.95 0 0);
$off-white: oklch(0.9 0 0);
$light-grey: oklch(0.8 0 0);
$grey: oklch(0.67 0 0);
$dark-grey: oklch(0.4 0 0);
$off-black: oklch(0.3 0 0);
$black: oklch(0.15 0 0);

/* Theme Colors */
$primary: light-dark(oklch(0.5 0.2 280), oklch(0.7 0.2 280));
$primary-dark: oklch(from $primary calc(l - 0.1) c h);
$primary-light: oklch(from $primary calc(l + 0.1) c h);
$secondary: light-dark(oklch(0.6 0.1 185), oklch(0.7 0.1 185));
$secondary-dark: oklch(from $secondary calc(l - 0.1) c h);
$secondary-light: oklch(from $secondary calc(l + 0.1) c h);
$tertiary: oklch(0.88 0.2 90);

/* Backgrounds */
$bg-light: light-dark($white, $off-black);
$bg: light-dark($off-white, $dark-grey);
$bg-dark: light-dark($light-grey, oklch(0.26 0.08 260));

/* Text Colors */
$text: light-dark(oklch(0.15 0 264), oklch(0.96 0 264));
$text-muted: light-dark(oklch(0.4 0 264), oklch(0.76 0 264));

/* Misc */
$success: light-dark(oklch(0.65 0.12 150), oklch(0.76 0.18 150));
$error: light-dark(oklch(0.5 0.15 17), oklch(0.661 0.225 17));
$select-bg: oklch(0.398 0.177 277);

/** ==============
  Global settings
================== */

/** Width of main content column on page */
$section: 900px; // 800px;
$section-big: 1400px; // 1200px;

/** Effects */
$rounded: 5px;
$outline: 0 0 0 3px $primary-light;
$shadow: 1px 2px 8px oklch(0.05 0 0 / 0.7);
$shadow-s: inset 
  0 1px 2px #ffffff30, /* top highlight */ 
  0 1px 2px #00000030, /* dark shadow */ 
  0 2px 4px #00000015; /* soft shadow */
$shadow-m: inset
  0 1px 2px #ffffff50, /* top highlight */
  0 2px 4px #00000030, /* dark shadow */
  0 4px 8px #00000015; /* soft shadow */
$shadow-l: inset
  0 1px 2px #ffffff70, /* top highlight */
  0 4px 6px #00000030, /* dark shadow */
  0 6px 10px #00000015; /* soft shadow */

/** Gradient fade size */
$fade: 15px;

/** Transitions */
$fast: 0.35s ease;
$slow: 1s ease;

/** Media queries */
$tablet: 900px;
$phone: 600px;
