/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Enable smooth scrolling */
  scroll-behavior: smooth;

  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  line-height: 1.15;    /* Correct the line height in all browsers. */
  tab-size: 4;          /* Use a more readable tab size (opinionated). */
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/**------------ 
  Text styles 
--------------*/

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

/* Add the correct font weight in Chrome and Safari */
b, strong {
	font-weight: bolder;
}

/* Add the correct font size in all browsers */
small {
	font-size: 80%;
}

code, kbd, samp, pre {
	font-family: 
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
	font-size: 1em;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }


/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
} */

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/**--------------
  Media styles
----------------*/

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/**-----------
  Misc styles
--------------*/

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}