@use "variables" as v;

* {
  box-sizing: border-box;
  font-family: v.$sans;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background: url("/images/bg.jpg") no-repeat center fixed;
  background-size: cover;
  color: v.$light-grey;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;
}

/**------------ 
  Text styles 
--------------*/

h1 {
  font-size: clamp(2rem, -0.8rem + 4vw, v.$huge);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h2 {
  font-size: clamp(v.$xl, -0.8rem + 4vw, 5rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h3 {
  font-size: clamp(v.$large, -0.8rem + 4vw, 4rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h4 {
  font-size: clamp(v.$medium, -0.8rem + 4vw, 3rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h5 {
  font-size: clamp(v.$small, -0.8rem + 4vw, 2rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
p {
  font-size: clamp(v.$small, -0.8rem + 4vw, v.$xl);
  font-weight: v.$normal;
  color: v.$light-grey;
  line-height: v.$spacing;
  max-width: 50ch;
  align-self: center;
}
a {
  font-size: clamp(v.$small, -0.8rem + 4vw, v.$xl);
  font-weight: v.$normal;
  color: v.$tertiary-mid;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  // padding: 0;
}

::selection {
  background-color: v.$highlight-bg;
  color: #e0e7ff;
}

/**--------------
  Media styles
----------------*/

img {
  max-width: 100%;
  height: auto;
}

/**--------------
  Media queries
----------------*/
