@use "variables" as v;
@use "normalize.css";

* {
  font-family: v.$sans;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  z-index: 1;

  background: oklch(0.26 0.08 260);
  color: v.$light-grey;

  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  // justify-content: space-between;
}

/**------------ 
  Text styles 
--------------*/

h1 {
  font-size: clamp(2rem, 1rem + 4vw, 8rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h2 {
  font-size: clamp(1.75rem, 1rem + 3vw, 5rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h3 {
  font-size: clamp(1.5rem, 0.8rem + 3vw, 4rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h4 {
  font-size: clamp(1.25rem, 0.7rem + 3vw, 3rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
h5 {
  font-size: clamp(1rem, 1.2rem + 2vw, 2rem);
  font-weight: v.$light;
  color: v.$white;
  text-shadow: 0 0 10px v.$black;
}
p {
  font-size: clamp(0.8rem, 0.7rem + 2vw, 1.25rem);
  font-weight: v.$normal;
  color: v.$light-grey;
  line-height: v.$spacing;
  max-width: 50ch;
  text-align: center;
}
a {
  font-size: clamp(0.8rem, 0.7rem + 2vw, 1.25rem);
  font-weight: v.$normal;
  color: v.$tertiary;
  text-decoration: none;
}
code {
  font-size: clamp(0.8rem, 0.5rem + 2vw, 1rem);
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  // padding: 0;
}

::selection {
  background-color: v.$highlight-bg;
  color: #e0e7ff;
}

/**------------ 
  Global styles 
---------------*/

[disabled] {
  filter: saturate(0);
  opacity: 0.35;
  pointer-events: none;
}

/**------------- 
  Library styles 
----------------*/

/* react-toastify styles */
.Toastify__toast-container {
  position: absolute;
  top: 5rem;
  z-index: 9999;
}

/* react-tooltip styles */
.tooltip {
  background-color: v.$dark-grey;
  color: v.$off-white;
  border-radius: v.$rounded;
  box-shadow: v.$shadow;
}

/**---------- 
  Misc styles 
-------------*/

/* Card style for sections */
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-items: center;
  background-color: oklch(0.274 0.005 286 / 0.8);
  border-radius: v.$rounded;
  box-shadow: v.$shadow;
  padding: v.$fs-large;
}
