@import "variables";

// @import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Antic&family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: $sans;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

// main {
//   padding: 1.125rem; /* 2rem? */
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
main {
  min-height: 100vh;
  background: url("/bg.jpg") no-repeat center fixed;
  background-size: cover;
  color: $light-gray;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  // align-items: center;
  align-items: stretch;
}

.appsection {
  gap: 40px;
  min-height: 100vh;
  // width: calc(7 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  scroll-snap-type: y mandatory;
  border-radius: 0 0.5rem;
  background: linear-gradient(rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.08));
  // backdrop-filter: blur(10px);
  &.full {
    padding: 50px 40px;
    // width: 100%;
  }
  &.big {
    padding: 50px max(40px, calc((100% - $section-big) / 2));
  }
  &.medium {
    padding: 50px max(40px, calc((100% - $section) / 2));
  }
  // &.normal {
  //   &:nth-child(odd) {
  //     background: $light-gray;
  //   }
  //   &:nth-child(even) {
  //     background: $off-white;
  //   }
  // }
  // &.fill {
  //   background: $primary-light;
  // }
  &:last-of-type {
    flex-grow: 1;
  }
}
.appsecheader {
  font-size: $xl5;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}

/** Text styles */

h1 {
  font-size: $huge;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}
h2 {
  font-size: $big;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}
h3 {
  font-size: $xl3;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}
h4 {
  font-size: $xl2;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}
h5 {
  font-size: $xl;
  font-weight: $light;
  color: $off-white;
  text-shadow: 0 0 10px $off-black;
}
p {
  font-size: $xl;
  font-weight: $normal;
  color: $light-gray;
  line-height: $spacing;
  max-width: 50ch;
  align-self: center;
}
a {
  color: $tertiary-light;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  // padding: 0;
}

::selection {
  background-color: $hover-bg;
  color: #e0e7ff;
}

img {
  max-width: 100%;
  height: auto;
}

// Media queries
@media (max-width: 500px) {
  h1 {
    font-size: $xl3;
  }
  h2 {
    font-size: $xl;
  }
  p {
    font-size: $small;
    // line-height: 1.5;
    // max-width: 50ch;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: $xl4;
  }
  h2 {
    font-size: $xl2;
  }
  p {
    font-size: $medium;
    // line-height: 1.5;
    // max-width: 50ch;
  }
}

@media (max-width: 1024) {
  h1 {
    font-size: $xl5;
  }
  h2 {
    font-size: $xl3;
  }
  p {
    font-size: $large;
    // line-height: 1.5;
    // max-width: 50ch;
  }
}

// @media (min-width: 1024px) {
//   h1 {
//     font-size: 8rem;
//   }
//   h2 {
//     font-size: 4rem;
//   }
//   p {
//     font-size: $xl;
//     line-height: 1.5;
//     max-width: 50ch;
//   }
// }
