@import "../global/variables";

.skillgrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.skillcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%; // calc(7 / 12 * 100);
  height: 100%;
  padding: 1rem 2rem;
  background-color: #27272a33;
  border-radius: $rounded;
  box-shadow: $shadow;
}
.skill {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.skillname {
  font-size: $xl;
  color: $off-white;
}
.skilltext {
  font-size: $large;
  color: $light-gray;
  overflow-wrap: break-word;
  overflow: auto;
}

@media (max-width: 500px) {
  .skillgrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .skillgrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .skillgrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .skillgrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
