@use "../global/variables" as v;

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.button {
  display: inline-flex;
  appearance: none;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 10px;
  border: none;
  box-shadow: 0 0 2px light-dark(v.$black, v.$white);
  transition: color v.$fast, background v.$fast, opacity v.$fast, box-shadow v.$fast, filter v.$fast;
  cursor: pointer;
  position: relative;

  &.text {
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
  }

  // Color Variants
  &.primary {
    background: v.$primary;
  }
  &.secondary {
    background: v.$secondary;
  }
  &.tertiary {
    background: v.$tertiary;
    color: v.$off-black;
  }
  &.none {
    background-color: transparent;
  }

  // Interaction States
  &:hover,
  &:active {
    filter: hue-rotate(-10deg) brightness(1.1);
    box-shadow: 0 0 8px light-dark(v.$black, v.$white);
  }
  &:focus {
    box-shadow: 0 0 0 2px v.$grey;
  }

  &:disabled {
    background: v.$dark-grey;
    color: v.$light-grey;
    cursor: not-allowed;
    filter: none;
    box-shadow: none;
  }

  // Size Variants
  &.normal {
    min-width: min(200px, calc(100% - 40px));
    min-height: 40px;
    padding: 5px 20px;
    border-radius: 8px;
  }

  &.circle {
    border-radius: 999px;
    &.text {
      min-width: 2em;
      min-height: 2em;
      padding: 0.25em 0.75em;
    }
    &:not(.text) {
      width: 2.5em;
      height: 2.5em;
    }
  }

  &.small {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    width: fit-content;
  }
}
