// .flex {
//     padding: 2 4;
//     width: calc(7 / 12 * 100%);
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     scroll-snap-type: y mandatory;
//     border-radius: 0 0.5rem;
//     background: linear-gradient(rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
//     background: -webkit-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
//     background: -moz-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
//     /* backdrop-filter: blur(10px); */
//     filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.08));
//     /* filter: drop-shadow(0 8px 5px rgb(0 0 0 / 0.08)); */
//   }

.flex {
  &.block {
    display: flex;
    width: 100%;
  }

  &.inline {
    display: inline-flex;
  }

  &.row {
    flex-wrap: wrap;
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.none {
    gap: 0;
  }

  &.tiny {
    gap: 5px;
  }

  &.small {
    gap: 10px;
  }

  &.medium {
    gap: 20px;
  }

  &.large {
    gap: 40px;
  }
}
