@use "../global/variables" as v;

.appsection {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  scroll-snap-type: y mandatory;

  p {
    text-align: left;
    word-spacing: -1px;
  }
  &.normal {
    // background: linear-gradient(rgb(0, 0, 0, 0.1) 10%, rgb(0, 0, 0, 0.3) 50%, rgb(0, 0, 0, 0.1) 100%);
    // background: -webkit-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.3) 50%, rgb(0, 0, 0, 0.1) 100%);
    // background: -moz-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.3) 50%, rgb(0, 0, 0, 0.1) 100%);
    &:nth-child(even) { background: color-mix(in oklch, v.$dark-grey 40%, transparent); }
    &:nth-child(odd) { background: color-mix(in oklch, v.$dark-grey 50%, transparent); }
    filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.253));
    // backdrop-filter: blur(3px);
  }
  &.fill {
    &:nth-child(even) { background: v.$dark-grey; }
    &:nth-child(odd) { background: v.$off-black; }
  }
  &:last-of-type { flex-grow: 1; }
  
  // Width of the section
  &.full { padding: 75px 40px; }
  &.big { padding: 75px max(40px, calc((100% - v.$section-big) / 2)); }
  &.medium { padding: 75px max(40px, calc((100% - v.$section) / 2)); }
  
  // Height of the section
  &.hFull { min-height: 100dvh; }
  &.hAuto { min-height: auto; }
  // .hBig { min-height: 75vh; }
  // .hMedium {  }
}
