@use "@/global/variables" as v;
@use "@/global/styles";

$wrap: 500px;

.footer {
  // z-index: 100;
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: space-between;

  padding: 15px 25px;
  background: v.$primary-dark;
  p { color: v.$off-white;}
  a {
    color: v.$tertiary;
    transition: opacity v.$fast;

    &:hover {
      opacity: 0.7;
      transform: scale(1.1);
    }
  }
}

.license,
.license a {
  line-height: v.$spacing;
  text-align: right;
  font-size: clamp(v.$fs-tiny, -0.8rem + 4vw, v.$fs-medium);
  align-self: flex-end;
}

@media (max-width: $wrap) {
  .license {
    display: none;
  }
}
