@use "@/global/variables" as v;

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background: v.$primary-dark;

  .logo {
    width: 75px;
    height: 75px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  .logo:hover {
    transform: scale(1.2);
  }

  a {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: v.$normal;
    // font-size: v.$fs-large;
    color: v.$light-grey;
    text-decoration: none;
  }
  a:hover {
    color: v.$tertiary;
  }
}

/** DROPDOWN MENU */
.dropdownbutton {
  anchor-name: --dropdownbutton;
  cursor: pointer;
  
  display: absolute;
  background: none;
  border: none;
  border-radius: 5px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition: color v.$fast, background v.$fast, opacity v.$fast, box-shadow v.$fast;

  &:hover {
    background: linear-gradient(#3b82f6, #8b5cf6);
  }
}

.menu {
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: 2px;
  min-width: 100px;
  box-sizing: border-box;
  background-color: v.$primary-dark;
  border-radius: 3px;
}

.menuitem {
  cursor: default;
  margin: 2px;
  padding: 0.286rem 0.571rem;
  position: relative;
  display: grid;
  grid-template-areas:
    "label kbd"
    "desc  kbd";
  align-items: center;
  column-gap: 20px;
  border-radius: v.$rounded;
  outline: none;
  forced-color-adjust: none;
  color: v.$white;
  font-size: 1.072rem;
  font-weight: v.$normal;
  &:focus, &:hover {
    background: v.$primary-light;
    color: v.$black;
  }
}

.popover {
  position: fixed;
  position-anchor: --dropdownbutton;
  position-visibility: always;
  position-area: start;
  position-try: top right, bottom right, top left, bottom left;

  margin: unset;
  padding: unset;
  border: none;
  border-radius: v.$rounded;
  width: 10rem;
  box-shadow: v.$shadow;
}
[popover] {
  transition: opacity 0.3s ease-out, display 600ms allow-discrete;
  opacity: 0;
}

[popover]:popover-open {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}


