@import "../global/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 75%;
  height: 75%;
}
.textbox {
  background-color: rgb(39 39 42 / 70%);
  color: $white;
  padding: 0.5rem;
  font-size: $large;
}