@use "../global/variables" as v;

.header {  
  background: linear-gradient(rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  // background: oklch(0% 0 0 / 0.5);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.08));

  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;

  #logo {
    position: relative;
    filter: drop-shadow(0 0 0.3rem #ffffff70);
  }

  h2 {
    padding-bottom: 1rem;
    color: v.$light-grey;
  }
  h3 {
    padding-bottom: 4rem;
    color: v.$light-grey;
  }
}

/* Media Queries */

@media (max-width: 768px) {
  #logo {
    width: 15rem;
    height: auto;
  }
}

@media (min-width: 768px) {
  #logo {
    width: 20rem;
    height: auto;
  }
}

@media (min-width: 1024px) {
  #logo {
    width: 25rem;
  }
}
