@use "../global/variables" as v;

.header {
  // width: 100%;
  // height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;

  backdrop-filter: blur(0.2rem);

  h2 { padding-bottom: 1rem }
  h3 { padding-bottom: 4rem; }
}

.text {
  text-shadow: 3px 2px 1rem light-dark(v.$dark-grey, v.$grey);
  :is(h2, h3) {
    color: light-dark(v.$off-black, v.$off-white);
    font-weight: 300;
  }
}

#logo {
  position: relative;
  filter: drop-shadow(0 0 0.2rem light-dark(oklch(from v.$black l c h / .7), #ffffff70));
}

/* Media Queries */

@media (max-width: 768px) {
  #logo {
    width: 15rem;
    height: auto;
  }
}

@media (min-width: 768px) {
  #logo {
    width: 20rem;
    height: auto;
  }
}

@media (min-width: 1024px) {
  #logo {
    width: 25rem;
  }
}
