@use "../global/variables" as v;
@use "../global/styles.scss";

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  // background-color: #27272a33;
  // border-radius: v.$rounded;
  // box-shadow: v.$shadow;

  p {
    color: v.$white;
    font-weight: v.$light;
    overflow-wrap: break-word;
    overflow: auto;
  }
}
