@use "@/global/styles.scss";
@use "@/global/variables" as v;

.skillgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.skillcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;

  p {
    overflow-wrap: break-word;
    overflow: auto;
  }
}
