@use "@/global/variables" as v;

.appcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-items: center;
  background-color: oklch(from v.$bg l c h / 0.9);
  border-radius: v.$rounded;
  box-shadow: v.$shadow-l;
  padding: v.$fs-large;
}
