@use "@/global/variables" as v;

.appsection {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  scroll-snap-type: y mandatory;
  // background-color: v.$bg-dark;
  &:last-of-type { flex-grow: 1; }
  
  // Width of the section
  &.full { padding: 5vh 40px; }
  &.big { padding: 5vh max(2%, calc((100% - v.$section-big) / 2)); }
  &.medium { padding: 5vh max(2%, calc((100% - v.$section) / 2)); }
  
  // Height of the section
  &.hFull { min-height: 100dvh; }
  &.hAuto { min-height: auto; }
  // .hBig { min-height: 75vh; }
  // .hMedium {  }
}
