@use "@/global/variables" as v;

#toggleCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: v.$off-black;
  display: block;
  border-radius: 100px;
  box-shadow: v.$shadow-m;
  position: relative;
  transition: background 0.3s ease;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
  // background: #fff
  background: v.$success;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  // background: #bada55;
  background: v.$off-white;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

